# --- Hugging Face Configuration ---
HF_TOKEN = <PASTE YOUR API ID> -- Hugging Face API Key


# --- LangSmith Tracing Configuration ---

LANGCHAIN_TRACING_V2="true"
LANGCHAIN_ENDPOINT='https://api.smith.langchain.com'
LANGCHAIN_API_KEY=<PASTE YOUR API KEY>   -- Langsmith API Key
LANGCHAIN_PROJECT='langsmith-demo'
